.header {
    color: rgba(253, 4, 0, 255);
    background-color: rgba(255, 255, 255, 255);
    -unity-text-align: upper-center;
    font-size: 22px;
}

.toggle {
    color: rgba(56, 56, 56, 255);
    background-color: rgba(255, 0, 0, 255);
    font-size: 16px;
    -unity-font-style: bold;
}

.toggle:checked {
    background-color: rgba(255, 91, 0, 255);
    opacity: 0.51;
}

.container {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
